body {
  /* margin: 0; */
  background-color: #317180;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
